// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// colors
$navyBlue: #2c3e50;
$red: #e64c3b;
$white: #fff;
$lightGrey: #aaa;
$green: #43a752;

// font
$mainFont: 'Raleway', sans-serif;
$font-normal: 400;
$font-bold: 600;
$font-light: 200;

// $skinActiveColor: #3498db;
// $skinHeaderBck: #2c3e50;
// $panelHeaderBck: #2c3e50;
$skinLogo: url("ctc-logo.png") no-repeat 0 0;

@import "active_skin";

.active_admin {
    font-family: $mainFont !important;
    font-weight: $font-normal !important;

    #header {
        background-color: $navyBlue;
        color: $white;
        a {
            color: $white;
        }
        #site_title {
            background-size: 30px;
            background-position: center;
        }
        #utility_nav {
            background: $navyBlue;
            a:hover {
                color: $red;
            }
        }
    }

    #footer p {
      display: none;
    }

    #title_bar {
        background: $white;
        border-bottom: 4px solid $red;
        h2 {
            color: $navyBlue;
            font-weight: $font-light;
        }
    }

    #titlebar_right .action_items a {
        font-family: $mainFont !important;
        border-radius: 10px !important;
        box-shadow: none !important;
        text-shadow: none !important;
        background: $red !important;
        color: $white !important;
        border: 2px solid $red !important;
        border-bottom: 6px solid darken($red, 15%) !important;
        padding: 10px 30px !important;
        font-size: 14px !important;
        font-weight: $font-normal !important;
        &:hover {
            background: $white !important;
            // color: $red !important;

        }
    }

    form .inline-hints img {
        max-width: 160px;
        height: auto;
    }

    .status_tag {
        &.yes {
            background: $navyBlue !important;
        }
        &.no {
            background: $red;
        }
    }
}
